.spinning-coin {
    animation: spin 10s linear infinite;
    width: 100px;
    height: 100px;
}
  
@keyframes spin {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20000deg);
    }
}